:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dark: #757575;
  --secondary-text-color-theme-dark: #212121;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
  --primary-background-color-theme-dark: #2f303a;
  --secondary-background-color-theme-light: #f5f4fa;
  --logo-main-color: #2196f3;
  --header-border-color: #ececec;
  --header-logo-secondary-color: #212121;
  --bg-overlay-dark: rgba(47, 48, 58, 0.4);
  --btn-shadow-color: rgba(0, 0, 0, 0.15);
  --card-shadow-primary-color: rgba(0, 0, 0, 0.12);
  --card-shadow-secondary-color: rgba(0, 0, 0, 0.2);
  --portfolio-card-border-color: #eeeeee;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --footer-bg-icon-primary-color: rgba(255, 255, 255, 0.1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --card-set-gap: 30px;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --jobs-list-item-description-background: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

main {
  overflow: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--transition-timing-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
    transition: color 250ms var(--transition-timing-function);
  }
  .nav-list__link.current {
    color: #2196F3;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link.current::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: #2196F3;
    border-radius: 2px;
    transform: translateY(28px);
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
  }
  .contacts-list__info > svg {
    margin-right: 10px;
    fill: var(--primary-text-color-theme-dark);
  }
  .contacts-list__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
  .contacts-list__item:first-child {
    margin-right: 50px;
  }
  .contacts-list__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color-theme-dark);
    transition: color 250ms var(--transition-timing-function);
  }
  .contacts-list__info:hover, .contacts-list__info:focus {
    color: var(--accent-color);
  }
  .contacts-list__info > svg {
    transition: fill 250ms var(--transition-timing-function);
  }
  .contacts-list__info:hover > svg,
  .contacts-list__info:focus > svg {
    fill: var(--accent-color);
  }
}

.overtitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

@media screen and (min-width: 1200px) {
  .overtitle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  padding: 0;
  cursor: pointer;
}

.modal__button:hover, .modal__button:focus {
  outline: none;
}

.modal__close-icon {
  transition: fill 250ms var(--transition-timing-function);
}

.modal__button:hover > .modal__close-icon,
.modal__button:focus > .modal__close-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-form__message {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__logo {
  position: absolute;
  top: 0;
  left: 14px;
  transform: translateY(50%);
  transition: fill 250ms var(--transition-timing-function);
}

.contact-form__input:focus + .contact-form__logo {
  fill: #188ce8;
}

.contact-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.contact-form__input:focus {
  border-color: var(--accent-color);
}

.contact-form__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-dark);
}

.contact-form__wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.contact-form__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 16px 12px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
}

.contact-form__comment:focus {
  border-color: var(--accent-color);
}

.contact-form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.contact-form__checkbox-link {
  color: #2196F3;
}

.contact-form__submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  background: #188CE8;
  box-shadow: 0px 4px 4px var(--btn-shadow-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  cursor: pointer;
  outline: none;
}

.contact-form__checkbox-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.contact-form__checkbox:checked + .contact-form__checkbox-icon_checked {
  opacity: 1;
}

.contact-form__checkbox:checked ~ .contact-form__checkbox-icon__unchecked {
  opacity: 0;
}

.contact-form__checkbox-icon_checked {
  opacity: 0;
}

.contact-form__icon_unchecked {
  transition: fill 250ms var(--transition-timing-function);
}

.contact-form__checkbox:focus ~ .contact-form__checkbox-icon_unchecked .contact-form__icon_unchecked {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .contact-form__message {
    line-height: 1.15;
  }
  .contact-form__checkbox-wrapper {
    padding-left: 12px;
  }
  .contact-form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.footer__address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address-residence {
  color: var(--primary-text-color-theme-light);
}

.footer__address-contacts {
  color: var(--secondary-text-color-theme-light);
}

.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__address-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__subscription-input {
  display: block;
  width: 100%;
}

.footer__subscription-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer__subscription-input {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-text-color-theme-light);
}

.footer__subscription-input::placeholder {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscription-button {
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 28px;
  background: #2196F3 url(/images/icon-send.svg) no-repeat right 28px bottom 13px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 459px) {
  .footer__subscription-input {
    width: 100%;
  }
  .footer__subscription-button {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__subscription-input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription-input {
    display: inline-block;
    width: 358px;
    margin-left: 0;
    margin-right: 12px;
  }
  .footer__subscription-button {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .mobile-menu {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-timing-function);
    background-color: #FFFFFF;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-btn__icon {
    fill: #212121;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: #FFFFFF;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__nav-text {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
  }
  .mobile-menu__nav-item:not(:last-child) {
    padding-bottom: 32px;
  }
  .mobile-menu__nav-link.current {
    color: var(--accent-color);
  }
  .mobile-menu__nav-link {
    display: block;
  }
  .mobile-menu__contacts-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__contacts-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
  }
  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-list {
    padding-bottom: 64px;
  }
  .mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu__social-item:not(:last-child) {
    position: relative;
  }
  .mobile-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-menu__social-item:not(:last-child) .mobile-menu__social-link::after {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 2px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    transform-origin: right center;
    right: -10px;
  }
  .mobile-menu__social-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__close-btn:hover .mobile-menu_close-icon,
  .mobile-menu__close-btn:focus .mobile-menu_close-icon {
    fill: var(--accent-color);
    transition: fill 250ms var(--transition-timing-function);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-color);
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.header__logo_theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--primary-background-color-theme-dark);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--primary-text-color-theme-light);
  box-shadow: 0px 4px 4px var(--btn-shadow-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-overlay-dark), var(--bg-overlay-dark)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  .hero__btn {
    padding: 6px 30px;
  }
}

.features__icon {
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: var(--card-set-gap);
  text-align: center;
  background-color: var(--secondary-background-color-theme-light);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .features__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .features__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 1199px) {
  .responsibilities {
    display: none;
  }
}

.responsibilities {
  padding-bottom: 94px;
}

.responsibilities__list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.responsibilities__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.responsibilities__item-wrapper {
  position: relative;
}

.responsibilities__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  background: var(--jobs-list-item-description-background);
}

.team {
  background-color: var(--secondary-background-color-theme-light);
}

.team__content {
  padding: 30px 122px 24px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.team__description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px var(--card-shadow-primary-color), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--card-shadow-secondary-color);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .team__content {
    padding-left: 74px;
    padding-right: 74px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background: #ffffff;
    box-shadow: 0px 1px 3px var(--card-shadow-primary-color), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px var(--card-shadow-secondary-color);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
  .team__content {
    padding: 30px 32px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients__item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
}

.clients__item:hover, .clients__item:focus {
  border-color: var(--accent-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clients__logo {
  display: block;
  fill: var(--icon-color);
  transition: fill 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

@media screen and (max-width: 459px) {
  .clients__list {
    justify-content: center;
  }
}

@media screen and (min-width: 780px) {
  .clients__item {
    width: 226px;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__item {
    width: 170px;
    flex-basis: calc(100% / 6 - var(--card-set-gap));
  }
}

.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__item:nth-child(-n + 3) {
  margin-bottom: calc(var(--card-set-gap) / 2);
}

.portfolio__btn {
  padding: 4px 20px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--secondary-background-color-theme-light);
  border: none;
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-__btn_main {
  min-width: 73px;
}

.portfolio__btn_secondary {
  min-width: 128px;
}

@media screen and (min-width: 768px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio__filter {
    justify-content: center;
  }
  .portfolio__samples-link {
    display: flex;
    flex-direction: column;
  }
  .portfolio__card-info {
    flex-grow: 1;
  }
  .portfolio__samples-item {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  background-color: var(--overlay-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);
}

.portfolio__samples-link:hover .overlay,
.portfolio__samples-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio__samples-link {
  transition: box-shadow 250ms var(--transition-timing-function);
}

.portfolio__samples-link:hover, .portfolio__samples-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__samples-item:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}

.portfolio__card-info {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-card-border-color);
  border-top: none;
}

.portfolio__card-info .portfolio__samples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-dark);
}

.portfolio__samples-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 768px) {
  .portfolio__samples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .portfolio__samples-item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .portfolio__samples-item:not(:last-child) {
    margin-bottom: 0;
  }
  .overlay {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding-top: 62px;
    padding-bottom: 62px;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
  .portfolio__samples-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
  .portfolio__card-info {
    height: auto;
  }
}

.footer {
  background-color: var(--primary-background-color-theme-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  margin-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
}

.footer__logo-secondary {
  color: var(--primary-text-color-theme-light);
}

.footer__address-info {
  text-align: center;
  margin-bottom: 60px;
}

.footer__social-title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.footer__social-icon {
  fill: var(--primary-text-color-theme-light);
}

.footer__social-link {
  background-color: var(--footer-bg-icon-primary-color);
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer__address-info,
  .footer__social-info {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-bottom: 0;
  }
  .footer__address-info {
    margin-right: 70px;
  }
  .footer__social-info {
    margin-right: 92px;
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .footer__social-title {
    text-align: left;
  }
  .footer__address-info {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */