
.footer__address-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__address-residence {
    color: var(--primary-text-color-theme-light);
}

.footer__address-contacts {
    color: var(--secondary-text-color-theme-light);
}
.footer__address-item:not(:last-child) {
    margin-bottom: 8px;
}



@media screen and (min-width:1200px) {
    .footer__address-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

