@media screen and (max-width: 767px) {
    
    .contacts-list {
        display: none;
    }   
}

@media screen and (min-width:768px) {

    .contacts-list__info {
        @include mobile-font(12px, 1.17, var(--primary-text-color-theme-dark));    
    }      

    .contacts-list__info>svg {
        margin-right: 10px;
        fill: var(--primary-text-color-theme-dark);
    }

    .contacts-list__item:first-child {
            margin-bottom: 10px;
        }
}

@media screen and (min-width: 1200px) {
    .contacts-list {
        display: flex;
        margin-left: auto;
    }
    
    .contacts-list__item:first-child {
        margin-right: 50px;
    }
    
    .contacts-list__info {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--primary-text-color-theme-dark);
        transition: color 250ms var(--transition-timing-function);
        &:hover,
        &:focus {
        color: var(--accent-color);
    }
}

    .contacts-list__info>svg {
        transition: fill 250ms var(--transition-timing-function);
    }
    
    .contacts-list__info:hover>svg,
    .contacts-list__info:focus>svg {
        fill: var(--accent-color);
    }
}