 .footer__subscription-input {
     display: block;
     width: 100%;
 }
 .footer__subscription-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .footer__subscription-input {
    
    margin-bottom: 20px;
    padding-left: 16px;
     
     width: 450px;
     height: 50px;
     background: transparent;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     color: var(--primary-text-color-theme-light);

     &::placeholder {
         padding-top: 16px;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.25;
         letter-spacing: 0.03em;
         color: rgba(255, 255, 255, 0.6);
     }
 }

 .footer__subscription-button {
     width: 200px;
     height: 50px;
     text-align: left;
     padding-left: 28px;
     background: #2196F3 url(/images/icon-send.svg) no-repeat right 28px bottom 13px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.06em;
     color: #FFFFFF;
     cursor: pointer;
 }

 @media screen and(max-width: 459px) {
     
    .footer__subscription-input {
        width: 100%;
 }
    .footer__subscription-button {
       max-width: 100%;
    }
}

@media screen and (min-width:768px) {
    .footer__subscription-input {
      
        margin-left: auto;
        margin-right: auto;
    }
 
}

@media screen and (min-width:1200px) {
        .footer__subscription-input {
            display: inline-block;
            width: 358px;
                margin-left: 0;
                margin-right: 12px;
            }

        .footer__subscription-button {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
        }
}

