
.modal__button {

    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
    }
}
.modal__close-icon {
    transition: fill 250ms var(--transition-timing-function);

    .modal__button:hover>&,
    .modal__button:focus>& {
        fill: var(--accent-color);
    }
}