.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients__item {
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:nth-last-child(n+3) {
        margin-bottom: 30px;
    }
}


.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clients__logo {
    display: block;
    fill: var(--icon-color);
    transition: fill 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}

@media screen and (max-width: 459px) {
    .clients__list {
    justify-content: center;
    }
}

@media screen and (min-width:780px) {
    .clients__item {
        width: 226px;

        &:nth-last-child(3) {
            margin-bottom: 0;
            }
    }
}

@media screen and (min-width:1200px) {
    .clients {
        padding-top: 94px;
        padding-bottom: 94px;
        }
    .clients__item {
        width: 170px;

            &:nth-last-child(n+4) {
                    margin-bottom: 0;
                }
            }
    }

