.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap)) ;
    margin-top: calc(-1 * var(--card-set-gap)) ;
}

.clients__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    width: 210px;
    height: 92px;   
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}


.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clients__logo {
    display: block;
    fill: var(--icon-color);
    transition: fill 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}

@media screen and (max-width: 459px) {
    .clients__list {
    justify-content: center;
    }
}

@media screen and (min-width:780px) {
    .clients__item {
        width: 226px;
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    }
}

@media screen and (min-width:1200px) {
    .clients {
        padding-top: 94px;
        padding-bottom: 94px;
        }
        .clients__item {
            width: 170px;
            flex-basis: calc(100% / 6 - var(--card-set-gap));
        }
    }

