
.footer {
    background-color: var(--primary-background-color-theme-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__wrapper {
    margin-bottom: 60px;
}


.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-main-color);
}

.footer__logo-secondary {
    color: var(--primary-text-color-theme-light);
}

.footer__address-info {
    text-align: center;
    margin-bottom: 60px;
}



.footer__social-title {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}


.footer__social-icon {
    fill: var(--primary-text-color-theme-light);
}

.footer__social-link {
    background-color: var(--footer-bg-icon-primary-color);
}


 @media screen and (min-width:768px) {


    .footer__wrapper {
        display: flex;
        margin-bottom: 60px;
        justify-content: space-around;
        align-items: baseline;
        }

    .footer__address-info,
    .footer__social-info {
        margin-bottom: 0;
        }
        
}



 @media screen and (min-width:1200px) {

    .footer__wrapper {
        margin-bottom: 0;
    }
    .footer__address-info {
        margin-right: 70px;
    }

    .footer__social-info {
        margin-right: 92px;
    }

 .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer__logo {

        font-size: 26px;
        line-height: 1.19;
    }

    .footer__social-title {
        text-align: left;
 }
.footer__address-info {
    text-align: left;
}

 }










