
.footer__address-info {
    text-align: center;
    margin-bottom: 20px;
}
.footer__social-info {
    text-align: center;
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 60px;
}


.footer__social-title {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}


footer .footer__social-item:not(:last-child) {
    margin-right: 10px;
}
.footer__social-icon {
    fill: var(--primary-text-color-theme-light);
}

.footer__social-link {
    background-color: var(--footer-bg-icon-primary-color);
}


 @media screen and (min-width:768px) {

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        }

        .footer__social-info {
            margin-left: 0;
            margin-right: 74px;
            padding-top: 5px;
        }

        .footer__address-info{
            margin-left: 60px;
            margin-bottom: 60px;
        }

        footer .social-list__item:not(:last-child) {
        margin-right: 10px;
    }

 }
 @media screen and (min-width:1200px) {
    .footer__address-info {
        margin-left: 0;
        margin-right: 70px;
        margin-bottom: 0;
    }

     .footer__wrapper {
        justify-content: flex-start;
        }

    .footer__social-info {
        padding-top: 12px;
        margin-right: 92px;
    }

 .footer__container {
    display: flex;
                     }
 }














