.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

}

.header__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-main-color);
}

.header__logo_theme-dark {
    color: var(--secondary-text-color-theme-dark);
}








// .header {
//     border-bottom: 1px solid var(--header-border-color);
// }

// .header__container {
//     display: flex;
//     align-items: center;
// }

// a.current::after {
//     position: absolute;
//     content: "";
//     display: block;
//     height: 4px;
//     width: 100%;
//     background: #2196F3;
//     border-radius: 2px;
    
//     transform: translateY(28px);
// }
// .header__logo {
//     margin-right: 92px;
//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--logo-main-color);
// }

// .header__logo_theme-dark {
//     color: var(--secondary-text-color-theme-dark);
// }