.portfolio__wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    background-color: var(--overlay-color);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms var(--transition-timing-function);

    .portfolio__samples-link:hover &,
    .portfolio__samples-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio__samples-link {
    transition: box-shadow 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.portfolio__samples-item:not(:last-child) {
  margin-bottom: var(--card-set-gap);
}

.portfolio__card-info {
    padding: 20px 24px;

    border: 1px solid var(--portfolio-card-border-color);
    border-top: none;
}

.portfolio__card-info .portfolio__samples-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-theme-dark);
}

.portfolio__samples-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width:768px) {

.portfolio__samples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
   
}

.portfolio__samples-item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.portfolio__samples-item:not(:last-child) {
    margin-bottom: 0;
}
.overlay {
    padding-top: 50px;
}

}

@media screen and (min-width:1200px) {
    .overlay {
        padding-top: 62px;
        padding-bottom: 62px;
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    }
    .portfolio__samples-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
}


        .portfolio__card-info {
            height: auto;
        }
}

