@media screen and (max-width: 1199px) {
    .responsibilities {
        display: none;
    }  
}

.responsibilities {
    padding-bottom: 94px;
}

.responsibilities__list {
    display: flex;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap)) ;
}

.responsibilities__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    
}

.responsibilities__item-wrapper {
    position: relative;
}

.responsibilities__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
    background: var(--jobs-list-item-description-background);
}